*{
    border: 1px solid red;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
}

#header li{
    font-size: 13px;
    font-family: arial, sans-serif;
    opacity: .75;
}

#header-about{
    display: inline-block;
    /* TODO: align with header products */
}

#header-products{
    /* to postiion this relative to the header about */
    position: relative; 
    float: right; 
    display: flex;
    align-items: center;

}

#logo{
    padding-top: 21px;
}

#search-container{
    font-family: arial, sans-serif;
    font-size: small;
    position: relative;
    
    /* centering horizontal */
    width: 50%;
    margin: 0 auto;

    /* centers child elements */
    text-align: center;
}

footer{
    /* this is to fix the space between inline block */
    font-size: 0px; 
    
    color: rgb(112, 117, 122);

    font-family: arial, sans-serif;
    text-align: center;

    background-color: #f2f2f2;

    /* have to set solid before width for width to overite solid */
    border-top: solid;
    border-top-width: 1px;
    border-color: #dadce0;

    /* move footer to end of page */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer a{
    font-size: 14px;
    line-height: 40px;
    height: 100%;
    display: inline-block;
}

footer a:hover{
    text-decoration: underline;
}

#carbon{
    margin: 0 auto;
    display: inline-block;
}

#leaf{
    /* width: 14px; */
    height: 14px;
    text-align: center;
}

#carbon-neutral{
    margin-left: 10px;
}

#settings{
    min-width: 30%;
    float: right;
    text-align: right;
    margin-right: 30px;

}

#settings a{
    padding-left: 27px;
}

#footer-info{
    min-width: 30%;
    float: left;
    text-align: left;
}

#footer-info a{
    padding-left: 27px;
}