ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header-about{
    position: absolute;
    margin: 7px 0 0 10px;
}

#header-products{
    position: relative;
    float: right;
    padding-left: 30px;
    padding-right: 30px;
}

#header li{
    display: inline-block;
}

#search-container{
    position: relative;
    margin: auto;
    width: 50%;
}